html {
  font-family: "Verdana", "Geneva", sans-serif;
  font-size: 10pt;
}

body {
  margin: 5px 5px 5px 25px;
}

h1 {
  font-weight: 600;
}

h2 {
  padding-top: 20px;
  font-weight: 400;
}

h2 span.count {
  font-family: Helvetica Neue;
  font-size: 11px;
  display: inline-block;
  border: 1px solid #777777;
  border-radius: 5px;
  color: #555555;
  letter-spacing: 0.25px;
  padding: 4px 5px;
  vertical-align: middle;
}

section > h2 + ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  margin-block-start: 0;
}

li.card {
  flex: 0 0 min-content;
  margin-right: 15px;
  margin-bottom: 10px;
}

li a {
  text-decoration: none;
  color: black;
  display: block;
}

li img.cover {
  display: block;
  margin-bottom: 5px;
}

body.movies li.card img.cover,
body.tv-series li.card img.cover {
  height: 300px;
}

body.videogames li.card img.cover {
  height: 200px;
}

li img.no-cover {
  display: block;
  margin-bottom: 5px;
  object-fit: scale-down;
  background-color: #DDD;
}

body.movies li.card img.no-cover,
body.tv-series li.card img.no-cover {
  height: 300px;
  width: 200px;
}

body.videogames li.card img.no-cover {
  height: 200px;
  width: 200px;
}

.tags {
  font-family: Helvetica Neue;
  font-size: 11px;
  font-weight: 500;
  margin: 7px 0 5px 0;
}

.tags span {
  display: inline-block;
  background-color: #e2e2e2;
  border-radius: 5px;
  color: #333333;
  margin-bottom: 4px;
  margin-right: 2px;
  line-height: 12px;
  letter-spacing: 0.25px;
  padding: 4px 5px;
}
