html {
  font-family: "Verdana", "Geneva", sans-serif;
  font-size: 11pt;
  line-height: 1.5;
}

body {
  padding: 16px;
  margin-left: 25px;
  margin-right: 25px;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 200;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-block-start: 0;
}

li.card {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 15px;
  width: 250px;
}

li a {
  font-size: 10pt;
  text-decoration: none;
  color: black;
}

li img.cover {
  display: block;
  margin-bottom: 5px;
  width: 100%;
}

li img.no-cover {
  display: block;
  margin-bottom: 5px;
  object-fit: scale-down;
  background-color: #DDD;
  width: 250px;
}

body.movies li.card img.no-cover,
body.tv-series li.card img.no-cover {
  height: 375px;
}

body.videogames li.card img.no-cover {
  height: 250px;
}
