html {
  font-family: "Verdana", "Geneva", sans-serif;
  font-size: 11pt;
  line-height: 1.5;
}

body {
  margin-left: 25px;
  margin-right: 25px;
}

span.list-tag {
  font-family: Helvetica Neue;
  font-size: 11pt;
  font-weight: 400;
  border-radius: 5px;
  color: #777777;
  padding: 2px 4px;
  border: 1px solid #a1a1a1;
  display: block;
  margin-bottom: 1em;
  width: max-content;
}

h2 {
  font-weight: 200;
  font-size: 1.4em;
}

h1 + p {
  margin: 0;
}

h1 + p > img {
  height: 500px;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
}

dl dt {
  font-weight: 600;
  padding-right: 1em;
}
dl dt::after {
  content: ":"
}

dl dd {
  margin-inline-start: 0;
}

ol, ul {
  padding-left: 20px;
}

ul {
  list-style-type: square;
}

ul.checklist {
  list-style-type: none;
  padding-left: 0;
}

.tags {
  font-family: Helvetica Neue;
  font-size: 11px;
  font-weight: 500;
  margin: 7px 0 5px 0;
}

.tags span {
  display: inline-block;
  background-color: #e2e2e2;
  border-radius: 5px;
  color: #333333;
  margin-right: 2px;
  line-height: 12px;
  letter-spacing: 0.25px;
  padding: 4px 5px;
}
