html {
  font-family: "Verdana", "Geneva", sans-serif;
  font-size: 10pt;
}

body {
  margin: 5px 5px 5px 25px;
}

main {
  display: flex;
}

h1 {
  font-weight: 600;
  margin-block-start: 20px;
}

h2 {
  font-weight: 400;
  margin-block-start: 25px;
}

section {
  flex: 0 0 content;
  margin-left: 2px;
  margin-right: 48px;
}

section > h2 + a {
  display: block;
  margin-bottom: 10px;
}

section > h2 ~ ul {
  list-style-type: none;
  margin-block-start: 0;
  padding-left: 0;
}

li a {
  display: inline-block;
  font-size: 14px;
  line-height: 1.85;
}

li span.count {
  background: #F5F5F5;
  border-radius: 4px;
  color: #AAAAAA;
  display: inline-block;
  font-family: Helvetica Neue;
  font-size: 10pt;
  font-variant: super;
  font-weight: 500;
  margin-left: 5px;
  min-width: 20px;
  padding: 2px 1px;
  text-align: center;
  vertical-align: middle;
}
